GOHO_RECEIPTS_ROOT_FOLDER_ID=
GOHO_RECEIPTS_SPREADSHEET_ID=
GOHO_RECEIPTS_CONCURRENCY=5

GOOGLE_SERVICE_ACCOUNT_JSON_KEY_FILE=/etc/goho/google-service-account.json
GOOGLE_AUTH_SCOPES=https://www.googleapis.com/auth/spreadsheets,https://www.googleapis.com/auth/drive

OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-mini
